body { 
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height: 30px;
	
}


header {
	background-color: #f38888;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin-right: 20px;
}

main {
	display:flow-root;
	flex-direction: column;
	align-items: center;
	padding: 25px;
}

section {
	background-color: #91d8a2;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	color: #6969cf;
	margin-bottom: 10px;
}

p {
	color: #f7f0f0;
	margin-bottom: 20px;
}
button{
	background-color: #28d1c3;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
	
}
h4{
	color: #1a1603;
	margin: 8px;
}

footer {
	background-color: #0b4657;
	padding: 10px;
	text-align: center;
	color: #0f0f0f;
}

